body {
    background-color: #F9f9f9;
    position: relative;
}

.wm-backdrop {
    text-align: center;
    color: #fff;
    padding: 8rem 0;
    background-image: url('../img/grid.png'), linear-gradient(to right top, #050232, #6B3252);
    background-position: center center;
    height: 30rem;
}

.wm-backdrop h1 {
    font-size: 3.5rem;
}

.wm-backdrop p {
    opacity: .5;
    margin: .5rem auto;
}

.wm-update {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #F3F3F3;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 0, transparent 75%, #ddd 0), linear-gradient(45deg, #ddd 25%, transparent 0, transparent 75%, #ddd 0);
    background-size: 3rem 3rem;
    background-position: 0 0, 1.5rem 1.5rem;
}

.wm-update-content {
    border-radius: .2rem;
    padding: .5rem .8rem;
    position: relative;
    background-image: linear-gradient(-150deg, transparent 1.5rem, #fff 0);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .5);
}

.wm-update-content + .wm-update-content {
    margin-top: 1rem;
}

.wm-update-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.73rem;
    height: 3rem;
    background: linear-gradient(to left bottom, transparent 50%, rgba(243, 243, 243, .2) 0, rgba(243, 243, 243, .4)) no-repeat 100% 0;
    transform: translateY(-1.3rem) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: .5rem;
    box-shadow: -.2rem .2rem .3rem -.1rem rgba(0, 0, 0, .15);
}

.wm-footer {
    height: 80px;
    line-height: 80px;
    background-color: #F3F3F3;
    text-align: center;
    color: #666;
    font-size: 12px;
}

main.wm-container {
    position: relative;
    margin: 75px 0 0 0;
}

main.wm-container aside {
    position: fixed;
    right: 100%;
    left: -200px;
    top: 0px;
    width: 200px;
    overflow: auto;
    line-height: 1.3;
    z-index: 999;
    height: 100%;
    background: #FFF;
}

main.wm-container aside li.wm-active a {
    background-color: #E7E7E7;
}

main.wm-container section {
    position: absolute;
    background-color: #fff;
    padding: .5rem .8rem;
    box-shadow: 0 1px 2px #ccc;
    width: 100%;
}

main.wm-container .wm-example {
    border: 1px solid #E7E7E7;
    padding: .5rem .8rem;
    border-bottom: 0;
}

main.wm-container .wm-intro {
    margin-bottom: 2rem;
}

.wm-example-code {
    position: relative;
}

.wm-copy {
    border: 1px solid #e7e7e7;
    height: 2rem;
    . width: 4rem;
    line-height: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: .3rem;
    cursor: pointer;
    background-color: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .8rem;
    z-index: 2;
}

.wm-copy:hover {
    color: #fff;
    background-color: #56B356;
}


/* tooltip */

.wm-tooltip {
    font-size: .8rem;
    position: absolute;
    top: auto;
    bottom: 100%;
    right: 0;
    height: 1.5rem;
    background-color: #000;
    color: #fff;
    padding: .2rem .8rem;
    margin-bottom: .6rem;
    display: none;
}

.wm-tooltip::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.3rem;
    margin-top: -.3rem;
    height: .5rem;
    width: .5rem;
    transform: rotate(45deg);
    background-color: #000;
    z-index: 1111;
}


/* 面板 */

.wm-panel {
    margin-bottom: 1rem;
}


/* 进度条 */

.wm-progress {
    margin-bottom: 1rem;
}

.wm-help {
    position: fixed;
    right: 5%;
    bottom: 30%;
    background-color: rgba(0, 0, 0, .5);
    padding: .2rem .5rem;
    color: #fff;
}


/* 移动优先媒体查询 */

@media only screen and (min-width: 900px) {
    main.wm-container aside {
        display: block;
    }
    main.wm-container {
        margin: 86px 10% 0;
    }
    main.wm-container section {
        position: absolute;
        left: 200px;
        right: 0;
        margin-left: 20px;
        width: auto;
    }
    .wm-footer {
        font-size: 1rem;
        text-align: left;
    }
    .wm-help {
        display: none;
    }
    main.wm-container aside {
        right: 0;
        left: 10%;
        top: 85px;
        width: 200px;
        height: auto;
        overflow: auto;
        line-height: 1.3;
    }
}